<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <title>Edit-Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('message').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    document.querySelector('.send-button').click();
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var approveBtn = document.getElementById("hideElement");
        
            approveBtn.addEventListener("click", function() {
                var liveResponses = document.querySelectorAll('[id="live-response"]');
                var userInputFields = document.querySelectorAll('[id="user-input"]');
        
                var doc = new window.jspdf.jsPDF({
                    orientation: 'portrait',
                    unit: 'pt',
                    format: 'letter' // Adjust this based on your requirements
                });
                
                var yPos = 40; // Start yPos at 40 to account for margins
                var lineHeight = 20; // Adjust this value based on your font size and content
                var pageHeight = doc.internal.pageSize.height;
                var isFirstPage = true;
        
                // Assuming liveResponses and userInputFields have the same length
                for (var i = 0; i < (liveResponses.length+1)/2 -1 ; i++) {
                    var liveResponseText = liveResponses[i].value || liveResponses[i].innerText;
                    var userInputText = userInputFields[i].value || userInputFields[i].innerText;
        
                    var combinedText = "User Input: " + userInputText + "\n\nLive Response: " + liveResponseText + "\n";
        
                    var splitCombinedText = doc.splitTextToSize(combinedText, doc.internal.pageSize.width - 60); // Adjust margin accordingly
                    var lines = doc.splitTextToSize(splitCombinedText, doc.internal.pageSize.width - 60); // Adjust margin accordingly
        
                    var remainingSpace = pageHeight - yPos - 20;
        
                    if (!isFirstPage && lines.length * lineHeight > remainingSpace) {
                        doc.addPage();
                        yPos = 40; // Reset yPos for the new page
                        isFirstPage = false;
                        remainingSpace = pageHeight - 60; // Adjust for margins
                    }
        
                    for (var j = 0; j < lines.length; ) {
                        var maxLines = Math.min(Math.floor(remainingSpace / lineHeight), lines.length - j);
                        var chunk = lines.slice(j, j + maxLines);
                        doc.text(chunk, 30, yPos);
                        yPos += maxLines * lineHeight;
                        j += maxLines;
        
                        if (j < lines.length) {
                            doc.addPage();
                            yPos = 40; // Reset yPos for the new page
                            remainingSpace = pageHeight - 60; // Adjust for margins
                        }
                    }
                }
        
                doc.save("responses.pdf");
            });
        });
        
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var disapproveBtn = document.getElementById("generatePdf");
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var disapproveReasons = document.getElementById("checkboxes");
            var checkboxesDiv = document.getElementById("checkboxes");

        
            disapproveBtn.addEventListener("click", function() {
                var selectedCheckboxes = Array.from(checkboxes).filter(function(checkbox) {
                    return checkbox.checked;
                });
        
                var liveResponses = document.querySelectorAll('[id="live-response"]');
                var userInputFields = document.querySelectorAll('[id="user-input"]');
        
                var doc = new window.jspdf.jsPDF({
                    orientation: 'portrait',
                    unit: 'pt',
                    format: 'letter' // Adjust this based on your requirements
                });
                
                var yPos = 40; // Start yPos at 40 to account for margins
                var lineHeight = 20; // Adjust this value based on your font size and content
                var pageHeight = doc.internal.pageSize.height;
                var isFirstPage = true;
        
                // Print all disapproval reasons first
                var allDisapprovalReasons = '';
                for (var i = 0; i < selectedCheckboxes.length; i++) {
                    allDisapprovalReasons += "Disapprove: " + selectedCheckboxes[i].value + "\n\n";
                }
        
                var splitDisapprovalText = doc.splitTextToSize(allDisapprovalReasons, doc.internal.pageSize.width - 20);
                var disapprovalLines = doc.splitTextToSize(splitDisapprovalText, doc.internal.pageSize.width - 20);
        
                doc.text(disapprovalLines, 10, yPos);
                yPos += (disapprovalLines.length * lineHeight) + 20;
        
                // Print user inputs and live responses after disapproval reasons
                for (var i = 0; i < (liveResponses.length+1)/2 -1 ; i++) {
                    var liveResponseText = liveResponses[i].value || liveResponses[i].innerText;
                    var userInputText = userInputFields[i].value || userInputFields[i].innerText;
        
                    var combinedText = "User Input: " + userInputText + "\n\nLive Response: " + liveResponseText + "\n";
        
                    var splitCombinedText = doc.splitTextToSize(combinedText, doc.internal.pageSize.width - 60); // Adjust margin accordingly
                    var lines = doc.splitTextToSize(splitCombinedText, doc.internal.pageSize.width - 60); // Adjust margin accordingly
        
                    var remainingSpace = pageHeight - yPos - 20;
        
                    if (!isFirstPage && lines.length * lineHeight > remainingSpace) {
                        doc.addPage();
                        yPos = 40; // Reset yPos for the new page
                        isFirstPage = false;
                        remainingSpace = pageHeight - 60; // Adjust for margins
                    }
        
                    for (var j = 0; j < lines.length; ) {
                        var maxLines = Math.min(Math.floor(remainingSpace / lineHeight), lines.length - j);
                        var chunk = lines.slice(j, j + maxLines);
                        doc.text(chunk, 30, yPos);
                        yPos += maxLines * lineHeight;
                        j += maxLines;
        
                        if (j < lines.length) {
                            doc.addPage();
                            yPos = 40; // Reset yPos for the new page
                            remainingSpace = pageHeight - 60; // Adjust for margins
                        }
                    }
                }
        
                doc.save("responses.pdf");
            });
        });
        
    </script>

    <style>
        .fixed-buttons {
            position: fixed;
        }

        #message-form {
            position: fixed; /* or 'absolute', depending on your layout requirements */
            bottom: 0;
            width: 100%;
        }

        .edit-profile-head{
        font-family: Poppins;
        font-size: 37px;
        font-weight: 500;
        line-height: 55px;
        letter-spacing: 0em;
        color:#414146;
        }

        .form-head{
            padding: 2% 6% 2% 6%;
        }

        .edit-input{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #494949;

        }
        .edit-label{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        color: #494949;

        }
        .edit-select{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #494949;
        }
        .modal-dialog {
         max-width: 60% !important;
        }

        .edit-profile-form{
            padding: 2% 6% 1% 9%;

        }
        .edit-form-left{
        text-align: center;

        }

        .edit-form-right{

        }



        .edit-span{
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        color: #606060;

        }
        .edit-profile-para{
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        color: #606060;
        padding-top: 2%;
        }
        .edit-heading{
            font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #414146;
        }
        .drop-zone {
          /* max-width: 200px;
          height: 50px; */
          font-family: Poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            color:#B2B2B2;
            padding: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            border: 1px dashed#414146;
            border-radius: 10px;
            width: 70%;
        }

        .drop-zone--over {
          border-style: solid;
        }

        .drop-zone__input {
          opacity: 0;
            position: absolute;
            /* width: 100%;
            height: 100%; */

        }
        .drop-zone__thumb {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          background-color: #cccccc;
          background-size: cover;
          position: relative;
        }
        .drop-zone__thumb::after {
          content: attr(data-label);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 5px 0;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.75);
          font-size: 14px;
          text-align: center;
        }
        .edit-form-body{
        background-color:#F2F2F2;
        }
        .edit-profile-button{
        background-color: #3A0761;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        color: #FFFFFF;
        width: 100%;
        border: none;
        padding: 1%;
        text-align: center;
        }

        .modal-body {
            padding: 0;
        }


        @media only screen and (max-width: 786px) {
            .modal-dialog {
            max-width: 500px;
        }
        }
    </style>

        
</head>
<body  class="dashboard-container">
    <nav id="sidebar">
        <div class="float-top">
            <div class="sidebar-controls">
                <button class="new-chat"><i class="fa fa-plus"></i> New chat</button>
                <button class="hide-sidebar">
                    <img src="{% static 'image/add-post 1.svg' %}" alt="">
                </button>
            </div>
            <ul class="conversations">
                <li class="grouping">Today</li>
                {% for chat in previous_chats_today %}
                    <li>
                        <button class="conversation-button">
                            <i class="fa fa-message fa-regular"></i> {{ chat.title }}
                        </button>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <button><i class="fa fa-edit"></i></button>
                            <button><i class="fa fa-trash"></i></button>
                        </div>
                    </li>
                {% endfor %}
            
                <li class="grouping">Yesterday</li>
                {% for chat in previous_chats_yesterday %}
                    <li>
                        <button class="conversation-button">
                            <i class="fa fa-message fa-regular"></i> {{ chat.title }}
                        </button>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <button><i class="fa fa-edit"></i></button>
                            <button><i class="fa fa-trash"></i></button>
                        </div>
                    </li>
                {% endfor %}
            
                <li class="grouping">Previous days</li>
                {% for chat in previous_chats %}
                    <li>
                        <button class="conversation-button">
                            <i class="fa fa-message fa-regular"></i> {{ chat.title }}
                        </button>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <button><i class="fa fa-edit"></i></button>
                            <button><i class="fa fa-trash"></i></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            
        </div>
        <div class="user-menu">
            <button>
                <!-- <i class="user-icon">u</i>
                username
                <i class="fa fa-ellipsis dots"></i> -->
            </button>
            <ul>
                <li><button>My plan</button></li>
                <li><button>Custom instructions</button></li>
                <li><button>Settings &amp; Beta</button></li>
                <li><button>Log out</button></li>
            </ul>
        </div>
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel edit-heading">User: suriya</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body edit-form-body">
                <div class="container">
                    <div class="row pt-4">
                          <div class="col-md-3 edit-form-left">
                           <img src="{% static 'image/editProfile.png' %}" alt="" class="img-fluid">
                          </div>
                          <div class="col-md-9 edit-form-right">
                           <h1 class="edit-profile-head">suriya</h1>
                            <div class="drop-zone">
                                <span class="drop-zone__prompt">Drop your File here or Click in this area</span>
                                <input type="file" name="myFile" class="drop-zone__input">
                            </div>


                            <p class="edit-profile-para">Avatar by newai.com <span class="edit-span">Or upload your won..</span> </p>
                          </div>
                    </div>
                </div>
                     <form class="edit-profile-form">
                          <div class="form-group row  form-head " >
                             <label for="inputPassword" class="col-sm-4 col-form-label edit-label">User Name</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control edit-input" id="User Name" placeholder="Surya">
                             </div>
                           </div>
                           <div class="form-group row form-head">
                               <label for="inputPassword" class="col-sm-4 col-form-label edit-label">Email</label>
                               <div class="col-sm-8">
                                 <input type="text" class="form-control edit-input" id="Email" placeholder="suriya@gmail.com">
                               </div>
                             </div>
                             <div class="form-group row form-head">
                               <label for="inputPassword" class="col-sm-4 col-form-label edit-label">Password</label>
                               <div class="col-sm-8">
                                 <input type="password" class="form-control edit-input" id="inputPassword" placeholder="Password">
                               </div>
                             </div>
                             <div class="form-group row form-head">
                               <label for="inputPassword" class="col-sm-4 col-form-label edit-label">Full Name</label>
                               <div class="col-sm-8">
                                 <input type="text" class="form-control edit-input" id="Full Name" placeholder="Suriya Doe">
                               </div>
                             </div>
                             <div class="form-group row form-head">
                               <label for="inputPassword" class="col-sm-4 col-form-label edit-label">Title</label>
                               <div class="col-sm-8">
                                 <input type="text" class="form-control edit-input" id="Title" placeholder="Administrator">
                               </div>
                             </div>
                             <div class="form-group row form-head">
                               <label for="inputPassword" class="col-sm-4 col-form-label edit-label">Language</label>
                               <div class="col-sm-8">
                                   <select class="form-select edit-select" aria-label="Default select example">
                                       <option selected>English</option>
                                       <option value="1">One</option>
                                       <option value="2">Two</option>
                                       <option value="3">Three</option>
                                     </select>
                               </div>
                             </div>

                     </form>
                     <button class="edit-profile-button">Save Profile</button>
            </div>

        </div>
        </div>
    </div>

    <main style="display: flex; flex-direction: column; height: 100%;">
        <div class="view new-chat-view" style="overflow-y: auto;">
            <!-- Top Div -->
            <div class="model-selector" style="display: flex; justify-content: space-between; align-items: center;">
                <div style="margin: 0 auto;">Default (GPT-3.5)</div>
                <div class="model-selector-icon" style="display: flex; justify-content: flex-end;">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: auto;">
                        <img src="{% static  'image/Ellipse 5.png' %}" alt="">
                    </button>
                </div>
            </div>
        </div>
    
        <!-- Middle Div -->
        <div class="view conversation-view" style="flex-grow: 1; margin-bottom: 10vh;">
            <div class="container text-left" style="color: black;"></div>
        </div>
    
        <!-- Bottom Div -->
        <div id="message-form" class="fixed-buttons" style="position: fixed; bottom: 0;">
            <div class="message-wrapper">
                <form id="messageForm" method="post">{% csrf_token %}
                    <textarea id="message" rows="1" name="user-prompt" placeholder="Send a message"></textarea>
                    <button type="submit" class="send-button">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <div class="">
                <button class="btn btn-success" id="hideElement">Approve</button>
                <button class="btn btn-danger" id="showElement">Disapprove</button>
            </div>
            
            <div class="text-dark" style="display: none;" id="checkboxes">
                <input type="checkbox" name="disapprove" value="icd-10-cm-error" class="hidden"> ICD-10-CM-Error
                <input type="checkbox" name="disapprove" value="cpt-error" class="hidden"> CPT-Error
                <input type="checkbox" name="disapprove" value="hcpcs-error" class="hidden"> HCPCS-Error
                <input type="checkbox" name="disapprove" value="icd-10-pcs-error" class="hidden"> ICD-10-PCS Error
                <input type="checkbox" name="disapprove" value="principal-diagnosis-error" class="hidden"> Principal Diagnosis Error
                <input type="checkbox" name="disapprove" value="modifier-error" class="hidden"> Modifier Error
                <button class="btn btn-info" id="generatePdf">Generate PDF</button>
            </div>
        </div>
    </main>

   <script>
    const sidebar = document.querySelector("#sidebar");
    const hide_sidebar = document.querySelector(".hide-sidebar");
    const new_chat_button = document.querySelector(".new-chat");

    hide_sidebar.addEventListener( "click", function() {
        sidebar.classList.toggle( "hidden" );
    } );

    const user_menu = document.querySelector(".user-menu ul");
    const show_user_menu = document.querySelector(".user-menu button");

    show_user_menu.addEventListener( "click", function() {
        if( user_menu.classList.contains("show") ) {
            user_menu.classList.toggle( "show" );
            setTimeout( function() {
                user_menu.classList.toggle( "show-animate" );
            }, 200 );
        } else {
            user_menu.classList.toggle( "show-animate" );
            setTimeout( function() {
                user_menu.classList.toggle( "show" );
            }, 50 );
        }
    } );

    const models = document.querySelectorAll(".model-selector button");

    for( const model of models ) {
        model.addEventListener("click", function() {
            document.querySelector(".model-selector button.selected")?.classList.remove("selected");
            model.classList.add("selected");
        });
    }

    const message_box = document.querySelector("#message");

    message_box.addEventListener("keyup", function() {
        message_box.style.height = "auto";
        let height = message_box.scrollHeight + 2;
        if( height > 200 ) {
            height = 200;
        }
        message_box.style.height = height + "px";
    });

    function show_view( view_selector ) {
        document.querySelectorAll(".view").forEach(view => {
            view.style.display = "none";
        });

        document.querySelector(view_selector).style.display = "flex";
    }

    new_chat_button.addEventListener("click", function() {
        show_view( ".new-chat-view" );
    });

    document.querySelectorAll(".conversation-button").forEach(button => {
    button.addEventListener("click", function() {
        show_view( ".conversation-view" );
    })
});
   </script>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Assume jQuery is included (you can also use Fetch API or other AJAX libraries)

        // Function to send a message asynchronously
        function sendMessage(message) {
            $.ajax({
                type: 'POST',
                url: '/home',  // Update this with your Django view endpoint
                data: {
                    'user-prompt': message,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    var container = $('<div class="message-container"></div>');
                    var userMsgElement = $('<div id="user-input"></div>').text(data.data.usermsg);
                    var displayMsgElement = $('<div id="live-response"></div>').html(data.data.display_msg);
                    var userElement = $('<div id="user-firstname"></div>').text(data.data.user);
                    // Append user input and response to the container
                    container.append('<span class="ml-5"></span>', userElement, userMsgElement, '<br>', displayMsgElement, '<br>', '<br>');
                    
                    // Append the container to the main container
                    $('.container').append(container);
                
                    // Clear the input field after sending the message
                    $('#message').val('');
                },
            });
        }

        // Attach this to your form submission
        $('form').submit(function (event) {
            event.preventDefault();
            var message = $('#message').val();
            sendMessage(message);
        });

    </script>


    <script>
        $(document).ready(function(){
        $("#hideElement").click(function(){
            $("#checkboxes").hide();
        });
        $("#showElement").click(function(){
            $("#checkboxes").show();
        });
        });
    </script>

    

   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>